html, body, #board, #content {
	width: 100%;
	height: 100%;
	margin: 0;
	position: relative;
	overflow: hidden;
}
#controls {
	background: #ddd url(/img/logo.png) no-repeat 8px 50%;
	padding: 3px 8px 3px 110px;
	position: absolute;
	opacity: 0.50;
	-webkit-transition: all 0.33s;
	-moz-transition: all 0.33s;
	-ms-transition: all 0.33s;
	-o-transition: all 0.33s;
	transition: all 0.33s;
	top: 0;
	left: 0;
	width: 100%;
	cursor: default;
	overflow: hidden;
}
#controls:hover {
	opacity: 1;
}
#board, #content {
	position: absolute;
	top: 0;
	left: 0;
}
#content {
	width: 500px;
	display: none;
	background-color: #fff;
	padding: 10px;
	overflow-x: auto;
	overflow-y: scroll;
	box-shadow: 5px 0 12px rgba(0, 0, 0, 0.5);
}
body, select, input {
	font: 14px Arial;
}
