body, select, input, textarea {
	font-family: Istok, Helvetica, Arial, sans-serif;
}
body {
	line-height: 150%;
}
select {
	line-height: 110%;
}
input {
	line-height: 100%;
}
textarea {
	line-height: 130%;
}
input:not([type=button]):not([type=image]):not([type=submit]),
textarea {
	padding: 1px 4px;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15) inset;
	border: 1px solid #aaa;
	font-size: 12px;	
}
em {
	font-style: normal;
	font-family: IstokItalic;
}
th,
legend,
strong {
	font-weight: normal;
	font-family: IstokBold, Helvetica, Arial, serif;
}
a {
	color: #1e3ef6;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
fieldset {
	border: 1px solid #ccc;
	padding: 3px 8px;
}
fieldset.selected {
	border: 2px solid #1e3ef6;
	padding: 2px 7px;
}
fieldset.selected legend {
	color: #1e3ef6;
}
h1 {
	font-weight: normal;
	margin: 30px 0 4px 0;
	font-size: 24px;
}
h1:first-child {
	margin-top: 0;
}