body, select, input, textarea {
	font-family: Istok, Helvetica, Arial, sans-serif;
}
body {
	line-height: 150%;
}
select {
	line-height: 110%;
}
input {
	line-height: 100%;
}
textarea {
	line-height: 130%;
}
em {
	font-style: normal;
	font-family: IstokItalic;
}
strong {
	font-weight: normal;
	font-family: IstokBold;
}
a {
	color: #1e3ef6;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
fieldset {
	border: 1px solid #ccc;
	padding: 3px 8px;
}
fieldset.selected {
	border: 2px solid #1e3ef6;
	padding: 2px 7px;
}
fieldset.selected legend {
	color: #1e3ef6;
}