/*
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.24);
*/
.modal-cover {
	background-color: rgba(40,40,40,0.80);
}
.modal-dialog {
	background-color: #fff;
	border: 8px solid #FFFFFF;
    border-radius: 8px;	
}
.modal-close {
	display: block;
	float: right;
	width: 16px;
	height: 16px;
	padding-bottom: 4px;
	background: url(/img/close-black.png) no-repeat 0 0;
	text-decoration: none;
	opacity: 0.75;
	cursor: pointer;
}
.modal-close:hover {
	opacity: 1;
	text-decoration: none;
}
.modal-content {
	background-color: #fff;
	border: none;
	padding: 0;
	margin: 0;
}